* body {
   
}

.titulo-principal {
    padding-left: 25px;
    color: #15d856;
}

img {
    width: 100px;
}

.principal {
    background-color: darkgray; 
    padding: 30px;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

em strong{
    color: #ff0000;
}

#missao {
    font-size: 20px;
}

.beneficios {
    background-color: magenta;
    padding: 20px;
}

h3 {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    margin-right: 15%;
}

.itens {
    font-style: italic;
}

.imagembeneficios {
    width: 50%;
}

